# dependencies
/node_modules

# build output
/dist

# debug
npm-debug.log*

# env files
.env*

# package-lock
package-lock.json

# csv files
*.csv

# output db
*.db

# typescript
*.tsbuildinfo
next-env.d.ts
